# Next.js
.next
open-next
.open-next
out

# Nuxt leftovers
.output
.data
.nuxt
.nitro
.cache
dist

# Node
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env
.env
.env.*
!.env.example
.dev.vars

.wrangler

# Turborepo
.turbo
